# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
*.log

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment files (like your API keys)
.env

# Streamlit
.streamlit/

# Audio/outputs (optional)
data/outputs/
